div.container
{
   width:800px;
   margin-right: auto;
   margin-left:  auto;
   text-align:left;
   background-color:black;
}
div.topheader
{
   width:800px;
   height:70px;
   background-color:black;
   background-image:url('../images/header.jpg');
}
div.subheader
{
   background-color:#25383C;
   text-align: center;
   margin-top: 5px;
   padding-top: 3px;
   width:800px;
   height:20px;
}
div.center
{
   width: 450px;
   float:left;
   margin: 0;
   padding: 10px;
}
div.left
{
   width:144px;
   float:left;
   margin: 0;
   padding: 10px;
}
div.right
{
   width:140px;
   float:left;
   margin: 0px;
   padding: 10px;
}
div.footer
{
   color:black;
   background-color:gray;
   padding: 3px;
   width:794px;
   clear:both;
}
div.twocol
{
   width: 590px;
   float:left;
   margin: 0;
   padding: 10px;
}
body
{
   color:#98AFC7;
   background-color:black;
   text-align: center;
   font-family: helvetica,consolas;
   background-color:black;
   background-image:url('../images/wp.png');
}
img.colimg
{
   width:140px;
   border:2px outset #98AFC7;
}
ul.links
{
   list-style-type:square;
   padding-left:0;
   margin-left: 10px;
}
ul.outer
{
   list-style-type:none;
   padding-left:0;
   padding-top: 5px;
   margin-left: 0;
}

h1,h2,h3,h4,h5,h6
{
   text-align:center;
}
td.link
{
   border: 2px;
   border-style:outset;
   padding: 3px;
   border-color: white;
}
a:link{color:slategray;}
a:visited{color:darkslateblue;}
a:hover{color:blue;}
a{text-decoration:none;}

#main-content a:hover span{
   top:10px;
   left:10px;
   width:202px;
   padding:5px 0 5px 0;
   text-transform:uppercase;
}
#main-content li{
   width:200px;
   border:2px solid gray;
   background:black;
   padding:10px;
   text-align:center;
   position:relative;
   float:left;
   display:inline;
   margin:5px;
}

